<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nome Esercizio</title>
    <!-- link a Font AWS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- link icon Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <!-- link CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- link CSS -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/responsive.css" />
    <!-- link VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- link JS -->
    <script type="text/javascript" src="./js/main.js" defer></script>
  </head>
  <body>
    <div id="root" class="container text-center my-3">
      <h1>TO DO LIST:</h1>
      <section class="inputArea">
        <div class="input-group mb-3">
          <input
            v-model.trim="newTask.text"
            @keyup.enter="addTask()"
            type="text"
            class="input-text"
            placeholder="Aggiungi un promemoria"
            ref="inputText"
          />
          <button
            @click="addTask()"
            class="btn btn-outline-secondary"
            type="button"
          >
            Aggiungi
          </button>
        </div>
      </section>
      <ul>
        <li v-for="(task,index) in tasks" class="toDoEl">
          <div v-if="!task.state" @click="changeState(index)" class="textEl">
            {{task.text}}
          </div>
          <div
            v-else="task.state"
            @click="changeState(index)"
            class="textEl text-decoration-line-through"
          >
            {{task.text}}
          </div>

          <span
            ><i @click="deleteTask(index)" class="fa-solid fa-trash"></i
          ></span>
        </li>
      </ul>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
